<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户配置</title>
  <!-- Include Vue 3 CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- Include Vue Router 4 CDN -->
  <script src="https://unpkg.com/vue-router@4"></script>
  <!-- Include Element Plus CDN -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <script src="https://unpkg.com/element-plus"></script>
  <!-- Include Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <a class="el-button el-button--primary" href="/user.html">用户配置</a>
    <a class="el-button el-button--primary" href="/schedule-logs.html">定时任务日志</a>
    <a class="el-button el-button--primary" href="https://meican.com/">去点餐</a>
  </div>

  <script>
    // 业务逻辑
    const App = {
    };
    // Initialize Vue app
    const app = Vue.createApp(App);
    // app.use(router);
    app.use(ElementPlus);
    app.mount('#app');
  </script>
</body>
</html>
