<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户配置</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include Vue 3 CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- Include Vue Router 4 CDN -->
  <script src="https://unpkg.com/vue-router@4"></script>
  <!-- Include Element Plus CDN -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <script src="https://unpkg.com/element-plus"></script>
  <!-- Include Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <a class="el-button is-plain" href="/" style="text-decoration: none;">回首页</a>

    <br>
    <br>
    <br>

    <!-- 新增用户 -->
    <el-button type="primary" plain @click="dialogVisible = true">新增用户</el-button>
    <el-dialog v-model="dialogVisible" title="新增用户" :visible.sync="dialogVisible">
      <el-form>
        <el-form-item label="用户名">
          <el-input v-model="username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input type="password" v-model="password"></el-input>
        </el-form-item>
        <el-form-item label="uid">
          <el-input type="uid" v-model="uid"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button mini @click="dialogVisible = false">取消</el-button>
        <el-button type="primary" mini @click="addUser">新增用户</el-button>
      </div>
    </el-dialog>

    <br>
    <br>

    <!-- 用户列表 -->
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="id" label="ID" width="40"></el-table-column>
      <el-table-column prop="username" label="用户名" width="220"></el-table-column>
      <el-table-column prop="passwordText" label="密码" width="80"></el-table-column>
      <el-table-column prop="uid" label="wxPuser id" width="180"></el-table-column>
      <el-table-column prop="statusText" label="状态" width="80"></el-table-column>
      <el-table-column label="操作" min-width="180">
        <template #default="{ row }">
          <el-button type="primary" mini @click="changeStatus(row)">{{['开启', '关闭'][row.status]}}</el-button>
          <el-button type="danger" mini @click="deleteUser(row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <script>
    // 业务逻辑
    const App = {
      data() {
        return {
          tableData: [],
          username: '',
          password: '',
          uid: '',
          dialogVisible: false, // 控制弹窗的显示和隐藏
        }
      },
      mounted() {
        this.fetchUsers();
      },
      methods: {
        // API: 获取用户列表
        async fetchUsers() {
          const { data } = await axios.get('/api/users')
          data.data.forEach(element => {
            element.statusText = ['关闭', '开启'][element.status]
            element.passwordText = '****'
          });
          this.tableData = data.data;
        },
        // API: 执行新增用户的逻辑
        async addUser () {
          const { data } = await axios.post('/api/users', {
            username: this.username,
            password: this.password,
            uid: this.uid})
          if (data.status === 200) this.fetchUsers();
          ElementPlus.ElMessage({type: data.status === 200 ? 'success' : 'error', message: JSON.stringify(data), duration: 2000})
          this.dialogVisible = false
        },
        // API：执行开启/关闭用户的逻辑
        async changeStatus (row) {
          const { data } = await axios.post('/api/users/editStatus', {
            id: row.id,
            status: +!row.status
          })
          if (data.status === 200) this.fetchUsers();
          ElementPlus.ElMessage({type: data.status === 200 ? 'success' : 'error', message: JSON.stringify(data), duration: 2000})
        },
        // API: 执行删除用户的逻辑
        async deleteUser (row) {
          const { data } = await axios.post('/api/users/deleteUser', {
            id: row.id
          })
          if (data.status === 200) this.fetchUsers();
          ElementPlus.ElMessage({type: data.status === 200 ? 'success' : 'error', message: JSON.stringify(data), duration: 2000})
        }
      }
    };

    // Initialize Vue app
    const app = Vue.createApp(App);
    // app.use(router);
    app.use(ElementPlus);
    app.mount('#app');
  </script>
</body>
</html>
